<a class="btn btn-primary" routerLink = "showbalance">Show Balance</a>&nbsp;
<a class="btn btn-primary" routerLink = "deposit">Deposit</a>&nbsp;
<a class="btn btn-primary" routerLink = "withdraw">Withdraw</a>&nbsp;
<a class="btn btn-primary" routerLink = "fundtransfer">Fund Transfer</a>&nbsp;
<a class="btn btn-primary" routerLink = "usertransactions">Transactions List</a>&nbsp;
<a class="btn btn-primary" routerLink = "logout" >Log Out</a>&nbsp;
<!-- //<a class ='btn' ><i (click)="deleteUser(user)" class="la la-trash"></i></a> -->